<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">
          <form name="compensationForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Compensation' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Compensation' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <div class="form-group pt-2">
              <label><b>{{ 'Staff Member' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>
                <select class="form-control" name="staffMember" [(ngModel)]="form.data.staffMember" aria-label="ngSelected" required>
                  <option [ngValue]="undefined">{{ 'Select Staff Member' | translate }}</option>
                  <option *ngFor="let member of form.preload.staffMemberList" [value]="member.key">{{ member.value }}</option>
                </select>
              </div>
              <span *ngIf="form.inputerror?.staffMember" class="alertRedColor">{{ form.inputerror.staffMember }}</span>
            </div>

            <div class="form-group pt-2">
              <label><b>{{ 'Payment Amount' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-dollar-sign grey-text"></i></div>
                </div>
                <input type="text" name="paymentAmount" [(ngModel)]="form.data.paymentAmount" class="form-control"
                  (keydown)="filterInput($event, 'errorMessagePaymentAmount', 9, 'int')"
                  placeholder="{{ 'Enter Payment Amount' | translate }}" required>
              </div>
              <span *ngIf="errorMessagePaymentAmount" class="alertRedColor">{{ errorMessagePaymentAmount }}</span>
              <span *ngIf="form.inputerror?.paymentAmount" class="alertRedColor">{{ form.inputerror.paymentAmount }}</span>
            </div>

            <div class="form-group pt-2">
              <label><b>{{ 'Date Applied' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar grey-text"></i></div>
                </div>
                <input type="date" name="dateApplied" [value]="form.data.dateApplied | date:'yyyy-MM-dd' " class="form-control"
                (input)="form.data.dateApplied=parseDate($event.target.value)"
                  placeholder="{{ 'Enter Date Applied' | translate }}" required>
              </div>
              <span *ngIf="errorMessageDateApplied" class="alertRedColor">{{ errorMessageDateApplied }}</span>
              <span *ngIf="form.inputerror?.dateApplied" class="alertRedColor">{{ form.inputerror.dateApplied }}</span>
            </div>

            <div class="form-group pt-2">
              <label><b>{{ 'State' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-list grey-text"></i></div>
                </div>
                <select class="form-control" name="state" [(ngModel)]="form.data.state" aria-label="ngSelected" required>
                  <option [ngValue]="undefined">{{ 'Select State' | translate }}</option>
                  <option *ngFor="let state of form.preload.stateList" [value]="state.key">{{ state.value }}</option>
                </select>
              </div>
              <span *ngIf="form.inputerror?.state" class="alertRedColor">{{ form.inputerror.state }}</span>
            </div>

            <div class="row pt-2 pl-2 pb-3">
  
              <div class="col-md-3"></div>
              
              <div class="pt-2">
                <button *ngIf="!(form.data.id > 0)" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>
            
              <div class="col-md-1"></div>
            
              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>
              
              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/compensationlist']"
                   style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>
              
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
